<div class="connection-kind">
	Connection type: <%= @argument_connection.kind %>
</div>

<div class="connection-source">
	Source argument: <%= @argument_connection.source.explanation %>
</div>

<div class="connection-target">
	Target argument: <%= @argument_connection.target.explanation %>
</div>

<%= link_to 'Edit', edit_argument_node_path(@argument_node) %> |
<%= link_to 'Back', argument_nodes_path %>