<h1>Editing argument node</h1>

<%= simple_form_for @argument_node do |f| %>
	<%= f.input :kind, :label => "What kind of argument is this?" %><br>
	<%= f.input :explanation, :label => "Explain this argument." %><br>
	<%= f.button :submit %>
<% end %>

<%= link_to 'Back', argument_nodes_path %>
